/*++

Copyright (c) Microsoft. All rights reserved.

Module Name:

    main.rc

Abstract:

    This file contains resources for wslhost.

--*/

#include <windows.h>
#include "resource.h"
#include "wslversioninfo.h"

#define VER_INTERNALNAME_STR "wslhost.exe"
#define VER_ORIGINALFILENAME_STR "wslhost.exe"

#define VER_FILEDESCRIPTION_STR "Windows Subsystem for Linux"
ID_ICON ICON PRELOAD DISCARDABLE "..\..\..\Images\wsl.ico"

#include <common.ver>
