<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommunityToolkit.Mvvm" version="8.4.0" />
  <package id="CommunityToolkit.WinUI.Animations" version="8.2.250402" />
  <package id="CommunityToolkit.WinUI.Controls.SettingsControls" version="8.2.250402" />
  <package id="Microsoft.Direct3D.Linux" version="1.611.1-81528511" targetFramework="native" />
  <package id="Microsoft.DXCore.Linux.amd64fre" version="10.0.26100.1-240331-1435.ge-release" targetFramework="native" />
  <package id="Microsoft.DXCore.Linux.arm64fre" version="10.0.26100.1-240331-1435.ge-release" targetFramework="native" />
  <package id="Microsoft.Extensions.Hosting" version="9.0.8" />
  <package id="Microsoft.Identity.MSAL.WSL.Proxy" version="0.1.1" />
  <package id="Microsoft.NETCore.App.Runtime.win-arm64" version="9.0.10" />
  <package id="Microsoft.NETCore.App.Runtime.win-x64" version="9.0.10" />
  <package id="Microsoft.RemoteDesktop.Client.MSRDC.SessionHost" version="1.2.6353" />
  <package id="Microsoft.Taef" version="10.97.250317001" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.250325.1" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.NET.Ref" version="10.0.26100.75" />
  <package id="Microsoft.WindowsAppSDK" version="1.7.250606001" />
  <package id="Microsoft.WSL.bsdtar" version="0.0.2-2" />
  <package id="Microsoft.WSL.Dependencies.amd64fre" version="10.0.27820.1000-250318-1700.rs-base2-hyp" targetFramework="native" />
  <package id="Microsoft.WSL.Dependencies.arm64fre" version="10.0.27820.1000-250318-1700.rs-base2-hyp" targetFramework="native" />
  <package id="Microsoft.WSL.DeviceHost" version="1.0.0-20251015.1" />
  <package id="Microsoft.WSL.Kernel" version="6.6.87.2-1" targetFramework="native" />
  <package id="Microsoft.WSL.LinuxSdk" version="1.20.0" targetFramework="native" />
  <package id="Microsoft.WSL.LxUtil.amd64fre" version="10.0.26100.1-240331-1435.ge-release" />
  <package id="Microsoft.WSL.LxUtil.arm64fre" version="10.0.26100.1-240331-1435.ge-release" />
  <package id="Microsoft.WSL.TestDistro" version="2.5.7-47" />
  <package id="Microsoft.WSLg" version="1.0.71" />
  <package id="Microsoft.Xaml.Behaviors.WinUI.Managed" version="3.0.0" />
  <package id="StrawberryPerl" version="5.28.0.1" />
  <package id="vswhere" version="3.1.7" />
  <package id="WinUIEx" version="2.5.1" />
  <package id="Wix" version="5.0.2" />
</packages>
