/*++

Copyright (c) Microsoft. All rights reserved.

Module Name:

    main.rc

Abstract:

    This file contains resources for wslc.

--*/

#include <windows.h>
#include "resource.h"
#include "wslversioninfo.h"

#define VER_INTERNALNAME_STR "wslc.exe"
#define VER_ORIGINALFILENAME_STR "wslc.exe"

#define VER_FILETYPE VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR "Windows Subsystem for Linux Container CLI"
ID_ICON ICON PRELOAD DISCARDABLE "..\..\..\Images\wsl.ico"
IDR_AKSARC_DEPLOY_SCRIPT RCDATA "scripts\\setup-aks-arc-deploy.sh"
IDR_AKSARC_GPU_SCRIPT RCDATA "scripts\\enable-gpu-wsl.sh"

#include <common.ver>
